<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-sm-4">
            <div id="multiple-datasets">
                <input ng-model="shoppingList" app-goods-search class="typeahead" type="text" placeholder="Введите название товара">

            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div id="grid"></div>
        </div>

    </div>
</div>

<!-- Изменить шаблон - сделать директиву родительскую и сиблинг для typeahead -->