<!-- Добавить тултип -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" style="border-radius: 0;" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" style="color: green;"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">Аксессуары</a></li>
        <li><a href="#">Дом</a></li>
        <li><a href="#">Еда</a></li>
        <li><a href="#">Здоровье</a></li>
    </ul>
</div>