<div class="btn-group">
    <button id="new-product-tooltip" type="button" data-placement="right" title="Создать новый товар" class="btn btn-default dropdown-toggle"
        style="border-radius: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" style="color: green;"></span></button>
    <ul class="dropdown-menu" style="width: 240px;">
        <li class="disabled" style="cursor: none;"><a href="#"><strong>Выберите категорию:</strong></a></li>
        <li ng-repeat="category in anpbCtrl.shopping.model.categoriesList"><a href="#">{{category.category_name}}</a></li>
        <li>
            <form class="form-inline" style="padding-top: 3px; padding-left: 20px; padding-bottom: 3px">
                <div class="form-group input-group-sm">
                    <input type="text" ng-model="anpbCtrl.model.newCategoryName" class="form-control" placeholder="Создать новую категорию">
                </div>
                <button type="submit" data-placement="right" title="Создать новую категорию" id="new-category-tooltip" class="btn btn-sm"
                    style="border-radius: 0;" ng-click="anpbCtrl.menu.createNewCategory(anpbCtrl.model)">
                    <span class="glyphicon glyphicon-plus" id="new-category-tooltip-span" style="color: green;"></span>
                </button>
            </form>
        </li>

    </ul>
</div>