<div class="container-fluid" style="margin-top:10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-3">

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-weight:bold; color: gray; font-size:24px;">Новый список покупок:</p>
                </div>
                <div class="col-xs-12">
                    <form class="form-inline" name="shoppingListForm" novalidate>
                        <div class="form-group">
                            <div id="multiple-datasets">
                                <input required name="productName" ng-model="productName" app-goods-search class="typeahead" type="text" placeholder="Введите название товара">
                            </div>
                        </div>
                        <div app-add-new-product-button style="display:inline-block;"></div>
                        <div ng-messages="shoppingListForm.productName.$error">
                            <div ng-message="productName_error">{{agsCtrl.model.newProductErrorText}}</div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-xs-12" style="margin-top:50px;" ng-show="shoppingListPieCtrl.shopping.model.actualShoppingListLength">
                <app-shopping-list-pie></app-shopping-list-pie>
            </div>


        </div>
        <div class="col-xs-12 col-sm-9">
            <img src="app/images/shopping_big_bag.png" class="img-responsive center-block" alt="shopping_big_bag" ng-show="!shielduiGridCtrl.shopping.model.actualShoppingListLength">

            <div class="row">

                <div class="col-xs-12">
                    <div id="grid" app-shieldui-lite-grid ng-show="shielduiGridCtrl.shopping.model.actualShoppingListLength"></div>
                </div>

            </div>


        </div>
    </div>
</div>